/* --shell: #F8F4EB; */

:root {
  --blue: #1F1BEE;
  --shell: #F2F2F2;
  --orange: #F5AE1F;
  --brand-font-body: "area-normal", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--blue);
  overflow-x: hidden
}


.light-bg {
  background-color: var(--shell);
}


a {
  color: var(--blue);
  text-decoration: none;
  transition: color .3s;
}

a:hover {
  color: var(--orange);
}

.contact-link {
  display: inline-block;
  font-size: 1em;
  /* font-family: "ivypresto-headline"; */
  border: 2px solid var(--orange);
  padding: 7px;
  margin-top: 20px;
  color: var(--shell);
  transition: background-color .3s, color .3s;
}

.contact-link:hover {
  color: black;
  background-color: var(--orange)
}

footer {
  /* padding: 15px 20px; */
  color: var(--shell);
  background-image: url("images/footer.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;


}

.footer-icon img {
  max-width: 40px;


}



.footer-right {
  display: flex;
  flex-direction: column;



}


.footer-container {

  align-items: center;
  margin-bottom: 30px;
  padding: 15px 20px;

  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;

  /* flex-wrap: wrap; */
  /* gap: 30px; */
  /* align-items: stretch;  */

  width: 100vw;




}

.footer-icon {
  align-self: flex-end;


}

footer p {
  text-align: right;
}

footer a {

  color: var(--shell);
  transition: color .3s;

}

footer a:hover {
  color: var(--orange);
}

footer img {
  width: 300px;

}








.top-bar {

  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 15px 20px;

  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);

}

.light-bg .top-bar {
  background-color: var(--shell);
}

nav ul {
  list-style: none;

}

.nav-link {
  font-size: 1.5em;
  font-family: var(--brand-font-body), sans-serif;
  ;
  color: var(--shell);
  padding-left: 20px;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
  margin: auto 10px;



}

nav ul li a {
  text-decoration: none;

  display: block;
  color: var(--shell);



}

.light-bg nav a {
  color: var(--blue);
  color: black;
}





.banner-small,
.banner-small-project {
  width: 500px;

}



.show {
  opacity: 100;
}

.nav-link a {
  transition: text-decoration 0.3s ease;
  transition: color 0.3s ease;
}

.nav-link a:hover {
  color: var(--orange);
}



.nav-link a.active {
  /* text-decoration: underline;
  text-decoration-color: var(--orange);
  text-decoration-thickness: 3px;
  text-underline-offset: 5px; */
  color: var(--orange);
}






section {
  margin: 300px 50px;
}

.intro {
  margin: 300px 50px 100px 50px;
}

section h1 {
  display: block;
  padding: 10px;
  font-family: "ivypresto-headline", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 3em;
  color: var(--shell);
}



.tile-container {

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  align-items: stretch;
}

.tile {
  flex: 1 1 calc(33% - 30px);
  max-width: calc(33% - 30px);
  background-color: var(--shell);
  /* aspect-ratio: 1 / 1;  */
  padding: 30px;
  min-height: 150px;


}





.about,
.contact {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(150px, 1fr);


}

.cases {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 350px;
  grid-template-areas:
    "a a b b"
    "a a c d"
    "e f g g"
    "h i g g";
}





.case-tile,
.about-tile {
  position: relative;
  transition: transform .3s, filter .3s;
  /* filter: grayscale(100%) */
}


.case-tile:hover {
  transform: scale(0.98);
  filter: grayscale(0%)
}

.case-tile img,
.about-tile img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter:grayscale();
  filter:brightness(.5); */


}



.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;


  padding: 5px 10px;
  border-radius: 3px;
  text-align: left;
  white-space: nowrap;

  font-family: "area-normal", sans-serif;
  font-weight: 400;

  font-style: bold;
  font-size: 1em;
  color: white;
  text-shadow: black 1px 1px 7px;

  width: 100%;

}

.overlay-white {
  color: white;
}



.mobile-only-text {
  display: none;
}

.case-tile:nth-child(1) {
  /* grid-column: 1/3;
  grid-row: 1/3; */
  grid-area: a;

}

.case-tile:nth-child(2) {
  grid-area: b;


}

.case-tile:nth-child(3) {
  grid-area: c;

}

.case-tile:nth-child(4) {
  grid-area: d;

}

.case-tile:nth-child(5) {
  grid-area: e;

}

.case-tile:nth-child(6) {
  grid-area: f;

}

.case-tile:nth-child(7) {
  grid-area: g;
}

.case-tile:nth-child(8) {
  grid-area: h;

}

.case-tile:nth-child(9) {
  grid-area: i;

}








.tile h2 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.7em;
  line-height: 0.8em;
  display: block;
  margin-bottom: 10px;
}

.tile p,
.project-tile p,
figcaption,
.contact-tile p,
.about p {
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 10px;

}






.about,
.om h1 {

  color: var(--shell) !important
}




.contact-tile:nth-child(1) {
  color: var(--shell);

  grid-column: 1/3;
  text-align: left;
  align-items: center;


}

.contact-tile:nth-child(2) {
  color: var(--shell);

  grid-column: 4/5;
  text-align: right;
  align-items: center;



}

.contact {
  align-items: flex-end;


}

.contact-tile h1 {
  margin-left: -10px;

}

.info {
  font-family: var(--brand-font-body);
  font-weight: 800;

  font-size: 1.5em;
  color: var(--shell);

  border: 2px solid var(--orange);
  /* background-color: var(--orange); */
  padding: 10px 15px;


  display: block;
  width: fit-content;

  transition: background-color.3s ease, color .3s ease;
  color: var(--shell);

  display: block;

  align-self: end;
  justify-self: end;
  margin-left: auto;



}



.info:hover {
  background-color: var(--orange);
  color: black;
}

.intro-tile {
  color: var(--shell);
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  max-width: 700px;

}

.intro-tile h1 {
  font-family: "roc-grotesk";
  font-family: "roc-grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
  display: block;
}

#intro-spec {
  font-family: "ivypresto-headline", serif;
}

.slide-in-right {
  opacity: 0;
  transform: translateX(200px);
  transition: all 1s ease-out;
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-200px);
  transition: all 1s ease-out;
}

/* När den visas */
.slide-in-right.visible,
.slide-in-left.visible {
  opacity: 1;
  transform: translateX(0);
}





/* project pages */
.project-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  margin: 0;
  padding: 40px;
  margin: auto;
  margin-top: 80px;
  max-width: 1700px;
  margin-bottom: 200px;

}

.project-page h1 {
  font-family: var(--brand-font-body), sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3em;
  line-height: 0.8em;
  display: block;
  margin-bottom: 0;
  color: black;
  padding: 0;
  /* display: none; */
}

figcaption {
  display: block;
  align-self: center;
}

.figcaption-tile {
  display: flex;

  align-items: center;
}

.project-page p,
figcaption {
  color: var(--shell);

}

.project-heading-small {
  font-variant: small-caps;

}

.project-tile {
  padding: 0;
  margin: 0;
  align-self: center;

}

.tile-text {
  align-self: flex-start;
}

.project-tile:nth-child(2) {

  margin-top: 100px;
}

.project-tile:nth-child(n+3) {

  margin-bottom: 100px;
}

.project-tile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.project-tile {
  grid-column: span 4;
}



.project-page-light {
  width: 100wv;
  background-color: var(--shell);
  padding: auto 30px auto 50px;
  margin-top: 50px;

}

.project-page-light .project-tile:nth-child(1) {
  grid-column: span 4;
}

.project-page-light .project-tile:nth-child(2) {
  grid-column: span 2;
}

.project-page-light .project-tile:nth-child(3) {
  grid-column: span 6;
}

.project-tile:nth-child(1) {
  grid-column: span 1;
}

.project-tile:nth-child(2) {
  grid-column: span 3;
}

.project-tile:nth-child(3) {
  grid-column: span 1;
  align-self: flex-start;

}

.project-tile:nth-child(4) {
  grid-column: span 2;
}

.mg .project-tile:nth-child(5) {
  grid-column: 2/5;
}

.mg .project-tile:nth-child(6) {
  grid-column: span 3;
}

.mg .project-tile:nth-child(7) {
  grid-column: span 2;
}

.mg .project-tile:nth-child(8) {
  grid-column: span 2;
}

/* cove */
.cove .project-tile:nth-child(5) {
  grid-column: 1;
}

.cove .project-tile:nth-child(6) {
  grid-column: span 3;
}

.cove .project-tile:nth-child(7) {
  grid-column: span 3;
}

.cove .project-tile:nth-child(8) {
  grid-column: span 1;
}

.cove .project-tile:nth-child(9) {
  grid-column: span 4;
}

.cove .project-tile:nth-child(10) {
  grid-column: span 4;
}

.cove .project-tile:nth-child(11) {
  grid-column: span 1;
}

.cove .project-tile:nth-child(12) {
  grid-column: span 3;
}

.cove .project-tile:nth-child(13) {
  grid-column: 1/4;
}

.cove .project-tile:nth-child(14) {
  grid-column: 2/5;
}


.cove .project-tile:nth-child(15) {
  grid-column: 1/4;
}

.cove .project-tile:nth-child(16) {
  grid-column: span 2;
}

.cove .project-tile:nth-child(17) {
  grid-column: span 2;
}



.cove .project-tile:nth-child(n+18):nth-child(-n+30):nth-child(even) {
  grid-column: span 1;

}

.cove .project-tile:nth-child(n+19):nth-child(-n+30):nth-child(odd) {
  grid-column: span 3;
}




/* spirit of tasmania */
.sot .project-tile:nth-child(n+5) {
  grid-column: span 2;
}

.sot .project-tile:nth-child(9) {
  grid-column: span 4;
}

.sot .project-tile:nth-child(10) {
  grid-column: span 3;
}

.sot .project-tile:nth-child(n+11) {
  grid-column: span 1;
}

.sot .project-tile:nth-child(n+13) {
  grid-column: span 3;
}

.sot .project-tile:nth-child(15) {
  grid-column: span 1;
}

.sot .project-tile:nth-child(16) {
  grid-column: span 4;
}








/* thesis */
.thesis .project-tile:nth-child(5) {
  grid-column: 2/4;
}

.thesis .project-tile:nth-child(6) {
  grid-column: span 3;
}

.thesis .project-tile:nth-child(7) {
  grid-column: 2/5;
}

.thesis .project-tile:nth-child(8) {
  grid-column: span 2;
}

.thesis .project-tile:nth-child(9) {
  grid-column: span 2;
}

.thesis .project-tile:nth-child(10) {
  grid-column: span 3;
}

.thesis .project-tile:nth-child(11) {
  grid-column: span 1;
}

.thesis .project-tile:nth-child(12) {
  grid-column: span 1;
}

.thesis .project-tile:nth-child(n+13) {
  grid-column: span 3;
}

/* BGB */
.bgb .project-tile:nth-child(5) {
  grid-column: 2/5;

}



.bgb .project-tile:nth-child(6) {
  grid-column: 1/3;
}

.bgb .project-tile:nth-child(7) {
  grid-column: span 2;
}



.bgb .project-tile:nth-child(8) {
  grid-column: span 4;
}

.bgb .project-tile:nth-child(9) {
  grid-column: span 2;
}

.bgb .project-tile:nth-child(10) {
  grid-column: span 2;
}

.bgb .project-tile:nth-child(11) {
  grid-column: span 3;
}

.bgb .project-tile:nth-child(12) {
  grid-column: span 1;
}


/* BLANDAT */
.blandat .project-tile:nth-child(5) {
  grid-column: span 4;
}

.blandat .project-tile:nth-child(6) {
  grid-column: span 2;
}

.blandat .project-tile:nth-child(7) {
  grid-column: span 2;
}


.blandat .project-tile:nth-child(8) {
  grid-column: span 4;
}

.blandat .project-tile:nth-child(n+9) {
  grid-column: span 2;
}

.blandat .project-tile:nth-child(11) {
  grid-column: span 4;
}

.blandat .project-tile:nth-child(n+12) {
  grid-column: span 2;
}

.quintet {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.trio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.duo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}



/* SMI */
.smi h1 {
  display: unset;
}

.smi h2 {
  color: white;
  font-family: "roc-grotesk"
}

.smi .project-tile:nth-child(5) {
  grid-column: 1/5;
}

.smi .project-tile:nth-child(6) {
  grid-column: 1/2;
}

.smi .project-tile:nth-child(7) {
  grid-column: 2/5;
}

.smi .project-tile:nth-child(8) {
  grid-column: 1/3;
}

.smi .project-tile:nth-child(9) {
  grid-column: 3/4;
}

.smi .project-tile:nth-child(11) {
  grid-column: 2/5;
}

.smi .project-tile:nth-child(10) {
  grid-column: 1/2;
}

/* SMI ADS */
.smi-ads .project-tile:nth-child(odd):nth-child(n+5) {
  grid-column: span 3;
}

.smi-ads .project-tile:nth-child(even):nth-child(n+5) {
  grid-column: span 1;
}

/* NITEDALS */

/* nitedals */

.nitedals .project-tile:nth-child(5) {
  grid-column: span 4;
}

.nitedals .project-tile:nth-child(6) {
  grid-column: span 3;
}

.nitedals .project-tile:nth-child(7) {
  grid-column: span 1;
}

.nitedals .project-tile:nth-child(8) {
  grid-column: span 1;
}

.nitedals .project-tile:nth-child(9) {
  grid-column: span 3;
}


.nitedals .project-tile:nth-child(11) {
  grid-column: span 1;
}

.nitedals .project-tile:nth-child(10) {
  grid-column: span 3;
}

.nitedals .project-tile:nth-child(12) {
  grid-column: span 3;
}

.nitedals .project-tile:nth-child(13) {
  grid-column: span 1;
}








/* SHAPES */

.shapes .project-tile:nth-child(5) {
  grid-column: 2/5;
}

.shapes .project-tile:nth-child(6) {
  grid-column: 1/4;
}

.shapes .project-tile:nth-child(7) {
  grid-column: 4;
}

.shapes .project-tile:nth-child(8) {
  grid-column: 1;
}

.shapes .project-tile:nth-child(9) {
  grid-column: 2/5;
}

.shapes .project-tile:nth-child(10) {
  grid-column: 1/4;
}

.shapes .project-tile:nth-child(12) {
  grid-column: 2/5;
}

.intro-text {
  font-family: var(--brand-font-body) !important;

  line-height: 1.1em;

}

.light-bg p {
  color: black;
}

.light-bg footer p {
  color: var(--shell) !important;
}

.experience {
  margin-bottom: 30px;
}

/* about */

.om .info {


  font-size: 1em;


  align-self: start !important;
  justify-self: start !important;
  margin-left: 0;
  margin-top: 20px;

}

.om h1 {
  margin-bottom: 20px;
}

.om .project-tile:nth-child(1) {
  grid-column: span 1;
  align-self: center;
}

.om .project-tile:nth-child(2) {
  grid-column: span 2;
  margin-bottom: 40px;
}

.om .project-tile:nth-child(3) {
  grid-column: 3;
}

.om .project-tile:nth-child(4) {
  grid-column: 4;
}

.roll {
  font-family: var(--brand-font-body), sans-serif;

  font-size: 1em !important;
  line-height: 1.2em;
}

.company {


  font-size: .9em !important;
}

.about-rubrik {
  text-transform: uppercase;

}


/* MEDIA 1080PX */
@media (max-width: 1080px) {


  section {
    margin: 100px 0px;
  }

  .mobile-only-text {
    display: unset;
  }


  .desktop-only-text {
    display: none;
  }

  .cases,
  .about,
  .contact {
    display: flex;
    flex-direction: column;
  }

  .nav-link {

    padding-left: 5px;
  }

  nav ul li {
    margin: auto 0;
  }

  .project-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin: 0;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    max-width: 1700px;
    margin-bottom: 100px;
  }

  .quintet {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

  }

  .trio,
  .duo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .nav-link a {
    font-size: 1em;
    /* Reduce font size for navigation links */
  }

  .tile h2 {
    font-size: 1.8em;
    /* Adjust tile heading size */
  }

  .contact-link {
    font-size: 1em;
    /* Adjust contact link size */
    padding: 10px;
  }

  .contact {
    align-items: center;

  }

  .intro-tile h1 {
    font-size: 2em;
  }

  .intro {
    margin: 180px 10px 100px 10px;
  }


  .info {
    font-size: 1em;
  }

  /* 
  .om .project-tile:nth-child(n+1) {
    grid-column: span 2;
  }

  .om .project-tile:nth-child(3) {
    grid-column: 3;
  }

  .om .project-tile:nth-child(4) {
    grid-column: 4;
  }



  .mg .project-tile:nth-child(n+5) {
    grid-column: span 4;
  }

  .bgb .project-tile:nth-child(5) {
    grid-column: span 4;
  }

  .bgb .project-tile:nth-child(6) {
    grid-column: span 3;
  }

  .bgb .project-tile:nth-child(n+7) {
    grid-column: span 1;
  }

  .bgb .project-tile:nth-child(9) {
    grid-column: span 3;
  }

  .bgb .project-tile:nth-child(10) {
    grid-column: span 4;
  }

  .bgb .project-tile:nth-child(11) {
    grid-column: span 3;
  }

  .bgb .project-tile:nth-child(12) {
    grid-column: span 1;
  }

  .shapes .project-tile:nth-child(5) {
    grid-column: span 4;
  }

  .shapes .project-tile:nth-child(6) {
    grid-column: span 3;
  }

  .shapes .project-tile:nth-child(n+7) {
    grid-column: span 1;
  }

  .shapes .project-tile:nth-child(9) {
    grid-column: span 3;
  }

  .shapes .project-tile:nth-child(n+10) {
    grid-column: span 4;
  }

  .blandat .project-tile:nth-child(n+5) {
    grid-column: span 4;
  }

  .thesis .project-tile:nth-child(n+5) {
    grid-column: span 4;
  }

  .thesis .project-tile:nth-child(10) {
    grid-column: span 3;
  }

  .thesis .project-tile:nth-child(n+11) {
    grid-column: span 1;
  }

  .thesis .project-tile:nth-child(13) {
    grid-column: span 3;
  } */


  .smi .project-tile:nth-child(6) {
    grid-row: 6;
  }


  .smi .project-tile:nth-child(10) {
    grid-row: 11;
  }

  .cove .project-tile:nth-child(11) {
    grid-row: 11;
  }

  .cove .project-tile:nth-child(20) {

    grid-row: 20;
  }

  .cove .project-tile:nth-child(22) {

    grid-row: 22;
  }

  .cove .project-tile:nth-child(24) {

    grid-row: 24;
  }

  .cove .project-tile:nth-child(26) {

    grid-row: 26;
  }


  .nitedals .project-tile:nth-child(8) {
    grid-row: 8;
  }







  .shapes .project-tile:nth-child(8) {
    grid-row: 8;
  }

  .sot .project-tile:nth-child(12) {
    grid-row: 12;
  }

  .thesis .project-tile:nth-child(12) {
    grid-row: 12;
  }









  .project-tile:nth-child(n+1) {
    grid-column: span 4 !important;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .empty-tile {
    display: none;
  }

  .top-bar {
    padding: 10px;
    /* Adjust padding for top bar */
  }

  .project-tile h1 {
    font-size: 1.5em;
  }


  .top-bar {

    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 15px 16px;

    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);

  }

  nav ul {

    list-style: none;
    font-size: 1.3em;
    font-family: var(--brand-font-body), sans-serif;
    color: var(--shell);



  }


  /* MEDIA 800PX */
  @media (max-width: 800px) {
    .nav-link {
      font-size: 1.2em;
    }

    .banner-small,
    .banner-small-project {
      max-width: 80%;
    }





    .footer-container {
      flex-direction: column;
      justify-content: flex-end;

    }



    footer img {
      max-width: unset;
      width: 250px;
      margin: auto;
    }

    .footer-left {
      align-self: flex-end;
    }

    .footer-right {
      align-self: flex-end;
      margin-top: 10px;
    }

    .quintet {
      flex-direction: column;
    }

    .om .project-tile:nth-child(n+1) {
      grid-column: span 4;
    }

    .om .project-tile:nth-child(n+3) {
      grid-column: span 2;
    }





  }